 .full-width {
     width: 100%;
 }

 body {
     font-family: Verdana, Arial, sans-serif;
     margin: 0;
     padding: 0;
 }

 header {
     background-color: #9ac875;
     padding: 20px;
 }

 header p {
     font-size: 70px;
     color: white;
 }

 nav ul {
     margin: 0;
     padding: 0;
 }

 nav ul li {
     display: inline-block;
     margin-right: 20px;

 }

 nav ul li a {
     text-decoration: none;
     color: #333;
 }

 main {
     padding: 20px;
 }

 footer {
     text-align: center;
     padding: 10px;
     background-color: #f1f1f1;
 }

 table,
 th,
 td {
     border: 1px solid #000;
     border-collapse: collapse;
 }

 th,
 td {
     padding: 8px;
     text-align: left;
 }

 form,
 label {
     display: block;
     margin-bottom: 5px;
     margin-top: 5px;
 }